ADGUARD_USER=user
ADGUARD_PASS=secret
PUSHOVER_TOKEN=your_token
PUSHOVER_USER=your_user_key
GUI_PASSWORD=1234
ADGUARD_URL=http://127.0.0.1/control
INTERFACE=eth0
STATIC_IP=[local static IP]/24
GATEWAY=[local def. Gateway IP]
